<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration Form</title>
    <style>
        body { font-family: Arial, sans-serif; margin: 20px; }
        form { width: 300px; margin: 0 auto; }
        input, button { display: block; width: 100%; margin: 10px 0; padding: 10px; }
    </style>
</head>
<body>

    <h2>Register New User</h2>
    <form  method="POST">
        <input type="text" name="First_name" placeholder="First name" required>
	<input type="text" name="Last_name" placeholder="Last name" required>
        <input type="date" name="dob" required>
        <input type="text" name="Phone_number" placeholder="Phone Number" required>
        <input type="text" name="address" placeholder="Address" required>
        <button type="submit">Register</button>
    </form>

   

</body>
</html>
